.login-form_wrapper{
  margin: 0 auto;
  width: 45%;
  padding-top: 12%;
  padding-bottom: 16.15%;
}

.login-title{
    font-family: 'Quicksand', sans-serif;
    color: #74d14c;
}

.login-form_wrapper .form-group {
    padding-left: 25%;
    padding-right: 25%;
}

.login-form_wrapper .user-name, .login-form_wrapper .password {
    position: relative;
}

.login-form_wrapper .icon{
    position: absolute;
    right: 51px;
    top: 40%;
    font-size: 1rem;
    z-index: 1;
}

.login-form_wrapper .login-form input {
    width: 100%;
    background: #fff;
    border: 1px solid #e7edf2;
    padding: 1.5rem 2rem;
}

.login-form_wrapper .user-name input{
    border-radius: 12px 12px 0 0;
}

.login-form_wrapper .password input{
    border-radius: 0 0 12px 12px;
}


.login-form_wrapper input:focus{
    outline: none;
}

.login-form_wrapper .remember {
    margin: 0 auto;
    width: 75%;
}

.login-form_wrapper .remember a, .login-form_wrapper .remember span {
    color: #74d14c;
    text-decoration: none;
}

.login-btn{
    display: flex;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 50px;
    background: linear-gradient(to right,#74d14c,#bbff9c);
    transition: all .5s;
    border: none;
    color: white;
}

.login-btn:hover{
    background: #bbff9c;
    
}

.login-btn:focus {
    outline: none;
}

.login-btn-signUp {
    background: none;
    border: none;
    color: #74d14c;
    margin: 0 auto;
    display: flex;
}

.login-btn-signUp:focus {
    outline: none;
}
